S-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.iml
sample/NaverspeechClient-android-studio/.gradle/
sample/NaverspeechClient-android-studio/.idea/
sample/NaverspeechClient-android-studio/local.properties
sample/NaverspeechClient-android-studio/app/build/
sample/NaverspeechClient-android-studio/build/
sample/NaverspeechClient-eclipse/bin/
